* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: white;
    line-height: 1.6;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
/*Main Section*/
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

section h1 {
    font-size: 4rem;
}
section p {
    font-size: 1.5rem;
}

section#home {
    background: url(/docs/images/PurpleSpace.webp) no-repeat center center/cover;
}
section#skills {
    background: url(/docs/images/PurpleSplash.webp)  no-repeat center center/cover;
}
section#work {
    background: url(/docs/images/PurplePixels.webp) no-repeat center center/cover;
}
section#contact {
    background: url(/docs/images/PurpleHallWay.webp) no-repeat center center/cover;
}
footer {
    text-align: center;
    background-color: black;
}
/*NavBar*/
.navbar {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 60px;
    background-color: rgba(0,0,0,0.7);
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}
.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
}
.navbar ul li a:hover {
    color: #8300bf;
}
/*Skills Section*/
.column {
    float: left;
    width: 20%;
    padding: 2.5%;
    max-width: 150px;
}
  
.row::after {
    content: "";
    clear: both;
    display: table;
}
/*Blog Page Layout*/
.articles img{
    width: 100%;
}
.articles h2{
  text-align: center;
  text-decoration: underline;
}
.articles{
  margin: 0 10px;
  padding-top: 30px;
}
.articles p{
  padding: 0 15px;
}
.Contactpg input{
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.card{
    border: purple 1px solid;
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none !important;
    color: white;
    width: 95%;
    margin-bottom: 10px;
    padding: 10rem 0 0;
    transition: transform 500ms ease;
}
.blogcontainer{
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(hsl(0 0% 0% / 0), hsl(255 50% 0% / .5) 20%, hsl(0 0% 0% / 1));
}
@media (hover){
    .blogcontainer{
    transform: translateY(55%);
    transition: transform 500ms ease;
    }
    .card:hover{
        transform: scale(1.05);
    }
    .card:hover .card-title::after{
        transform: scaleX(1);
    }
    .card:hover .container{
        transform: translateY(0);
    }
    .card:hover .container > *{
        opacity: 1;
        transition: opacity 500ms linear;
        transition-delay: 300ms;
    }
    .blogcontainer > *:not(.card-title){
        opacity: 0;
        transition-delay: 1000ms;
    }
}
#blogcards{
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr)
}
#blogcards img{
    width: 100%;
}
.blogpage img{
    width: 100%;
}
.blogpage p{
    padding-bottom: 10px;
}
#blog1{
    background-image: url();
    background-size: cover;
}
#blog2{
    background-image: url();
    background-size: cover;
}
#blog3{
    background-image: url();
    background-size: cover;
}
#blog4{
    background-image: url();
    background-size: cover;
}
.card-title{
    position: relative;
    width: max-content;
    max-width: 100%;
    padding-bottom: 5px;
}
.card-title::after{
    content: "";
    position: absolute;
    height: 3px;
    left: calc(var(--padding) * -1);
    background: purple;
    width: calc(100% + var(--padding));
    bottom: 0;
    transform: scaleX(0);
    transition: transform 300ms ease;
    transform-origin: left;
}
/*Contact Section*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #8300bf;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: 2px solid #8300bf;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #8300bf;
}
.contactform {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 15px;
      box-shadow: 30rem rgba(0, 0, 0, 0.7);
      backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
}

.form {
      max-width: 600px;
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 10px;
      padding-bottom: 10px;
}